@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
}

svg {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em
}
.exl svg,
.tag svg {
    font-size: 1em
}
.card-icon svg {
    margin-left: .2rem;
    margin-right: .2rem
}

/* dropdown */
#nav .dropdown-item:last-child {
    border: none
}

.dropdown-box svg {
    transition: transform .3s
}
.dropdown-box.open svg {
    transform: rotate(90deg)
}

/* 深色模式 */
#nav {
    transition-duration: 0!important
}
.darkmode--activated #nav {
    background-color: #000;
    color: #fff
}

.darkmode--activated #nav a:hover,
.darkmode--activated #nav .dropdown-box:hover,
.darkmode--activated #nav button:hover {
    background-color: #333
}

.darkmode--activated #nav .dropdown-item,
.darkmode--activated #nav .dropdown {
    background-color: #111;
    border-color: #333
}

.darkmode--activated .card,
.darkmode--activated a.tag,
.darkmode--activated .btn {
    background-color: #ddd
}

.darkmode--activated .blogpost-item {
    border-color: #ccc
}

/* 淡入动画 */
.fadein-animate {
    animation: fadeIn ease-in .3s;
    -webkit-animation: fadeIn ease-in .3s;
}
.dropdown:not(.fadein-animate) {
    animation: fadeOut ease-in .3s;
    -webkit-animation: fadeOut ease-in .3s;
}
@keyframes fadeIn {
    from { opacity:0; transform: translateY(-1em) }
    to {opacity:1; transform:translateY(0)}
}
@keyframes fadeOut {
    to { opacity:0; transform: translateY(-1em) }
    from {opacity:1; transform:translateY(0)}
}

/* 页面切换动画 */
#container {
    transition: opacity .3s;
}
.fadeout {
    opacity: 0
}

@media (min-width: 768px){
    .card-small.card-body:nth-of-type(odd){
        padding-right: .25rem
    }
    .card-small.card-body:nth-of-type(even){
        padding-left: .25rem
    }

    .card-tiny.card-body:nth-of-type(odd){
        padding: 0 .25rem
    }
    .card-tiny.card-body:nth-of-type(even){
        padding: 0 .25rem
    }
}

::selection {
    background: #ddd
}

/* ScrollBar */
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-button {
	display: none
}
::-webkit-scrollbar-thumb {
	background: rgb(71,85,105);
	transition: .2s
}

.darkmode--activated::-webkit-scrollbar {
    background: #000
}
.darkmode--activated::-webkit-scrollbar-thumb {
	background: rgb(221,58,161);
}

@keyframes shake {
    0%, 100% {
        transform: translateY(0) rotate(0)
    }
    12.5% {
        transform: translateY(-0.75em) rotate(60deg)
    }
    25%, 75% {
        transform: translateY(-1em) rotate(90deg)
    }
    47.5% {
        transform: translateY(-0.75em) rotate(120deg)
    }
    50% {
        transform: translateY(.25em) rotate(160deg)
    }
}

.namecard-profile h1,
.nav h1 {
    font-family: 'Potta One', cursive;
    font-weight: 400
}

.namecard-profile h1 small {
    font-family: 'Noto sans SC', sans-serif;
}