@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #fefefe
}

svg {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em
}

@media (min-width: 768px){
    .card-small.card-body:nth-of-type(odd){
        padding-right: .25rem
    }
    .card-small.card-body:nth-of-type(even){
        padding-left: .25rem
    }

    .card-tiny.card-body:nth-of-type(odd){
        padding: 0 .25rem
    }
    .card-tiny.card-body:nth-of-type(even){
        padding: 0 .25rem
    }
}

::selection {
    background: #ddd
}