@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #fefefe
}

svg {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em
}
.card-icon svg {
    margin-left: .2rem;
    margin-right: .2rem
}

#nav .dropdown-item:last-child {
    border: none
}

/* 深色模式 */
#nav {
    transition-duration: 0!important
}
.darkmode--activated #nav {
    background-color: #000;
    color: #fff
}

.darkmode--activated #nav a:hover,
.darkmode--activated #nav .dropdown-box:hover,
.darkmode--activated #nav button:hover {
    background-color: #333
}

.darkmode--activated #nav .dropdown-item,
.darkmode--activated #nav .dropdown {
    background-color: #111;
    border-color: #333
}

.darkmode--activated .card,
.darkmode--activated a.tag,
.darkmode--activated .btn {
    background-color: #ddd
}

.darkmode--activated .blogpost-item {
    border-color: #ccc
}

/* 淡入动画 */
.fadein-animate {
    animation: fadeIn ease-in .3s;
    -webkit-animation: fadeIn ease-in .3s;
}
.dropdown:not(.fadein-animate) {
    animation: fadeOut ease-in .3s;
    -webkit-animation: fadeOut ease-in .3s;
}
@keyframes fadeIn {
    from { opacity:0; transform: translateY(-1em) }
    to {opacity:1; transform:translateY(0)}
}
@keyframes fadeOut {
    to { opacity:0; transform: translateY(-1em) }
    from {opacity:1; transform:translateY(0)}
}

/* 页面切换动画 */
#container {
    transition: opacity .3s;
}
.fadeout {
    opacity: 0
}

@media (min-width: 768px){
    .card-small.card-body:nth-of-type(odd){
        padding-right: .25rem
    }
    .card-small.card-body:nth-of-type(even){
        padding-left: .25rem
    }

    .card-tiny.card-body:nth-of-type(odd){
        padding: 0 .25rem
    }
    .card-tiny.card-body:nth-of-type(even){
        padding: 0 .25rem
    }
}

::selection {
    background: #ddd
}

/* ScrollBar */
::-webkit-scrollbar {
	width: 6px;
	height: 5px
}
::-webkit-scrollbar-button {
	display: none
}
::-webkit-scrollbar-thumb {
	background: rgb(34,197,94);
	transition: .2s
}

.darkmode--activated::-webkit-scrollbar {
    background: #000
}
.darkmode--activated::-webkit-scrollbar-thumb {
	background: rgb(221,58,161);
}

@keyframes shake {
    2%,24%,80% {
        -webkit-transform: translate(0,1.5px) rotate(1.5deg);
        transform: translate(0,1.5px) rotate(1.5deg)
    }

    4%,68%,98% {
        -webkit-transform: translate(0,-1.5px) rotate(-.5deg);
        transform: translate(0,-1.5px) rotate(-.5deg)
    }

    38%,6% {
        -webkit-transform: translate(0,1.5px) rotate(-1.5deg);
        transform: translate(0,1.5px) rotate(-1.5deg)
    }

    8%,86% {
        -webkit-transform: translate(0,-1.5px) rotate(-1.5deg);
        transform: translate(0,-1.5px) rotate(-1.5deg)
    }

    10%,72% {
        -webkit-transform: translate(0,2.5px) rotate(1.5deg);
        transform: translate(0,2.5px) rotate(1.5deg)
    }

    12%,64%,78%,96% {
        -webkit-transform: translate(0,-.5px) rotate(1.5deg);
        transform: translate(0,-.5px) rotate(1.5deg)
    }

    14%,54% {
        -webkit-transform: translate(0,-1.5px) rotate(1.5deg);
        transform: translate(0,-1.5px) rotate(1.5deg)
    }

    16% {
        -webkit-transform: translate(0,-.5px) rotate(-1.5deg);
        transform: translate(0,-.5px) rotate(-1.5deg)
    }

    18%,22% {
        -webkit-transform: translate(0,.5px) rotate(-1.5deg);
        transform: translate(0,.5px) rotate(-1.5deg)
    }

    20%,36%,46% {
        -webkit-transform: translate(0,-1.5px) rotate(2.5deg);
        transform: translate(0,-1.5px) rotate(2.5deg)
    }

    26%,50% {
        -webkit-transform: translate(0,.5px) rotate(.5deg);
        transform: translate(0,.5px) rotate(.5deg)
    }

    28% {
        -webkit-transform: translate(0,.5px) rotate(1.5deg);
        transform: translate(0,.5px) rotate(1.5deg)
    }

    30%,40%,62%,76%,88% {
        -webkit-transform: translate(0,-.5px) rotate(2.5deg);
        transform: translate(0,-.5px) rotate(2.5deg)
    }

    32%,34%,66% {
        -webkit-transform: translate(0,1.5px) rotate(-.5deg);
        transform: translate(0,1.5px) rotate(-.5deg)
    }

    42% {
        -webkit-transform: translate(0,2.5px) rotate(-1.5deg);
        transform: translate(0,2.5px) rotate(-1.5deg)
    }

    44%,70% {
        -webkit-transform: translate(0,1.5px) rotate(.5deg);
        transform: translate(0,1.5px) rotate(.5deg)
    }

    48%,74%,82% {
        -webkit-transform: translate(0,-.5px) rotate(.5deg);
        transform: translate(0,-.5px) rotate(.5deg)
    }

    52%,56%,60% {
        -webkit-transform: translate(0,2.5px) rotate(2.5deg);
        transform: translate(0,2.5px) rotate(2.5deg)
    }

    58% {
        -webkit-transform: translate(0,.5px) rotate(2.5deg);
        transform: translate(0,.5px) rotate(2.5deg)
    }

    84% {
        -webkit-transform: translate(0,1.5px) rotate(2.5deg);
        transform: translate(0,1.5px) rotate(2.5deg)
    }

    90% {
        -webkit-transform: translate(0,2.5px) rotate(-.5deg);
        transform: translate(0,2.5px) rotate(-.5deg)
    }

    92% {
        -webkit-transform: translate(0,.5px) rotate(-.5deg);
        transform: translate(0,.5px) rotate(-.5deg)
    }

    94% {
        -webkit-transform: translate(0,2.5px) rotate(.5deg);
        transform: translate(0,2.5px) rotate(.5deg)
    }

    0%,100% {
        -webkit-transform: translate(0,0) rotate(0);
        transform: translate(0,0) rotate(0)
    }
}